<script src="https://kit.fontawesome.com/yourcode.js"></script>

{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}


{% if post.new_start == "True" and post.type == "Article" %}
  <p style="margin-top:50px;margin-bottom:9px; font-size:28px; border-left: 8px solid #7b8287; background-color: #ededed; padding: 4px"><b> &nbsp;&nbsp; 📢 &nbsp; Oral presentation</b></p>
{% endif %}

{% if post.new_start == "True" and post.type == "Book chapter" %}
  <p style="margin-top:50px;margin-bottom:9px; font-size:28px; border-left: 8px solid #7b8287; background-color: #ededed; padding: 4px"><b> &nbsp;&nbsp; 👨🏻‍🏫 &nbsp; Poster</b></p>
{% endif %}


<div clss="row" style="display: flex; margin-left:30px;">
  <div class="column" style="flex: 59%;">
    {% if post.id %}
      {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
    {% else %}
      {% assign title = post.title %}
    {% endif %}
    <div class="{{ include.type | default: "list" }}__item">
      <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
        {% if include.type == "grid" and teaser %}
          <div class="archive__item-teaser">
            <img src=
              {% if teaser contains "://" %}
                "{{ teaser }}"
              {% else %}
                "{{ teaser | prepend: "/images/" | prepend: base_path }}"
              {% endif %}
              alt="">
          </div>
        {% endif %}
        <h2 class="archive__item-title" itemprop="headline">
          {% if post.link %}
            <a href="{{ post.link }}" style="color: #404040">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
          {% else %}
            <a href="{{ base_path }}{{ post.url }}" rel="permalink" style="color: #404040">{{ title }}</a>
          {% endif %}
        </h2>
        {% if post.read_time %}
          <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
        {% endif %}

        {% if post.start_date %}<p class="page__meta"><b><i class="fas fa-clock" aria-hidden="true"></i> &nbsp;&nbsp;  {{ post.start_date | date: '%B %d, %Y' }} {% if post.end_date %} - {{ post.end_date | date: '%B %d, %Y' }}{% endif %}</b></p>{% endif %}

        <p class="page__meta" style="margin-left:1px"><b><i style="margin-right:1px" class="fas fa-map-marker-alt	" aria-hidden="true"></i> &nbsp;&nbsp;  {{post.location}}</b></p>


        <p class="page__meta" style="margin-left:1px"><b><i class="fas fa-calendar-alt" aria-hidden="true"></i> &nbsp;&nbsp; {{post.venue}}</b></p>

        <p class="page__meta"><b><i class="fas fa-ticket-alt" aria-hidden="true" style="margin-left:1px"></i> &nbsp; {{post.type}}</b></p>


        <!-- {% if post.excerpt %}<p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>{% endif %} -->
      </article>
    </div>
  </div>
  <div class="column" style="flex: 3%;">
  </div>
  <div  class="column" style="flex: 38%;">
    <img src="{{ post.image }}" style="width: 225px;
    height: 150px;
    object-fit: fill;
    display: inline; margin-top:55px;">
  </div>
</div>